parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/_generated/*
    - tests/Support/Data/*

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    - '#Access to protected property App\\Models\\User::\$password.#'
    - '#Access to an undefined property Core\\Database\\ActiveRecord\\Model::\$[a-zA-Z0-9_]+.#'
    - '#Call to an undefined method ReflectionType::getName\(\).#'
    - '#PHPDoc tag @var with type Tests\\Support\\AcceptanceTester is not subtype of native type Codeception\\Module#'